body{
    
    background-color: #ccccccdc;
}

#img-div {
    background-color: #ffffffec;
    padding: 1px 0;
    
    
}


#img-div img {
    
   display: block;
   margin-left: auto;
   margin-right: auto;
   min-width: 48%;
   max-width: 50%;
   width: 50%;
   
}

p.content {
    font-family: 'Roboto Condensed', sans-serif;

    padding: 0 10px;
	  line-height: 1.3em;
    
}

h1,h2,figcaption, .more{
    text-align:center;
}



ul li {
    font-weight: bold;
	  margin-top: 10px;
}





